# ----------------------------
# Go
# ----------------------------
bin/
build/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# ----------------------------
# Wails
# ----------------------------
wailsjs/
frontend/dist/
build/bin/
build/windows/installer/

# ----------------------------
# Node
# ----------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# IDE
# ----------------------------
.vscode/
.idea/

# ----------------------------
# OS Files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# App Runtime Data (Later)
# ----------------------------
profiles.json
state.json